/* 	Begin Modified Meyer Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin:0; padding:0; border:0; font-size:100%; font:inherit; vertical-align:baseline;
}
/* HTML5 reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display:block;
}
body { line-height:1; letter-spacing:-0.25px; overscroll-behavior:contain;}
#container:not([style*="zoom"]) { -webkit-text-size-adjust:none;}
table { border-collapse:collapse; border-spacing:0; }
th { font-weight:normal; text-align:left; }
ul { list-style-type:none; }
.page ol { list-style-position:outside; margin-left:1em; }
/*.page ol > li, .page  ul > li { text-indent:-1em; padding-left:1em; }*/
.page .singleline li, .page .singleline li { text-indent:inherit; padding:0; }
.page ol > li > *, .page ul > li > * { text-indent:initial; padding-left:initial; }
button { background:transparent;border:none; }
/*General styles*/
html, body, #container-wrap, #container { height:100%; }
#container-wrap { position:absolute; top:0; left:0; }
#container-wrap, #container { min-height:100%; width:100%; background-color:transparent; z-index:0;}
b { font-weight:bold; }
i { font-style:italic; }
a { color:inherit; text-decoration:inherit; }
input,select,textarea { font-size:inherit; }
p:first-child { margin-top:inherit !important; }
*{ outline:none; animation-fill-mode:both !important; -webkit-animation-fill-mode:both !important; }
[data-onclick],[onclick],[onrollover],[data-fixed-action],[aria-details],button,.flipwrap{ cursor:pointer; pointer-events:auto; }

body[class^='scaled-none'],body[class*=' scaled-none']{ overflow:auto; }
body[class^='scaled-width'],body[class*=' scaled-width']{ overflow-x:hidden; }
body[class^='scaled-height'],body[class*=' scaled-height']{ overflow-y:hidden; }
body[class^='scaled-best'],body[class*=' scaled-best']{ overflow:hidden; }
body[class^='scaled-best'][data-page-mode^='c'],body[class*=' scaled-best'][data-page-mode^='c']{ overflow:auto; }
body[class^='scaled-width'][data-page-mode^='csh'],body[class*=' scaled-width'][data-page-mode^='csh']{ overflow-x:auto; }
body[class^='scaled-height'][data-page-mode^='csv'],body[class*=' scaled-height'][data-page-mode^='csv']{ overflow-y:auto; }
body[data-scaled-to='w'] #container{ height:auto; min-height:auto; }
body[data-scaled-to='w'][data-page-mode^='cs'] #container{ position:absolute; }
body[data-scaled-to='w'][data-page-mode^='csv'] .pages { padding:0;}
body.zoomed:not([class*='scaled-']) #container { position:absolute; }
body[class*='scaled-'] .pages.paper-vertical{ margin:0; }
body[class^='zoomed'],body[class*=' zoomed']{ overflow-x:auto;overflow-y:auto; }
body[data-scaled-to] .anythingSlider-in5, body[data-scaled-to] #container > .page {padding:0;margin:0;}
body[data-scaled-to] #in5footer { position:fixed; bottom:0;}
/*body[data-scaled-to] * { -webkit-backface-visibility: hidden; }*/ /*fix blurry imgs*/
html.ios body[class*='scaled-'] #container { position:absolute; top:0; left:0; }
body.tall-page {overflow-y:auto;}
.liquid .page.tall-page {height:auto;}

.paper-vertical:after {
    position:relative;
    content:' ';
    display:block;
    height:50px;
    clear:both;
}
body[data-scaled-to="h"] .paper-vertical:after { display:none; }
body[data-scaled-to='h'] .paper-horizontal { margin:0; }
body[data-scaled-to='h'] .paper-horizontal .page { margin-top:0; }

#in5footer,#demoNote,#loadIndicator{
	min-width:100%;
	color:#fff;
	background:#666;
	font-family:"Trebuchet MS", "Lucida Grande", Helvetica, sans-serif;
	text-align:center;
	font-size:15px;
	box-sizing:border-box; 
	-moz-box-sizing:border-box;
}

#loadIndicator{
	width:100%; padding:6px; position:fixed;
	top:0; left:0; margin:auto;
    box-shadow:0 2px 4px rgba(0, 0, 0, 0.3);
    transition:all 1s ease-in .5s;
    opacity:1; z-index:99;
}
body.loaded #loadIndicator {
	opacity:0;
	transform:translateY(-36px);
	-webkit-transform:translateY(-36px);
	display:none\9;/*old IE*/
}
#loadIndicator img {
	vertical-align:text-bottom; width:18px;
}
html.local #loadIndicator, html.dps #loadIndicator, html.baker #loadIndicator { display:none; }

#in5footer{
	height:26px; line-height:26px; clear:both; position:relative; margin-top:-26px;
}

#demoNote {
    right:0; bottom:0; margin:auto;
    height:96px !important;
    padding:36px 10px;
}

#in5footer a, #demoNote a {
	text-decoration:none; color:#99ccff;
}
svg-img{display:block;position:absolute;}
.win-safari svg-img{width:100%;}
svg-img{width:100%\9;}
.spread-shift { position:absolute; }
.pageItem, svg { position:absolute; top:0; left:0; }
svg { overflow:visible; }
.pageItem {
	display:block;
	width:auto !important; height:auto !important;
	box-sizing:border-box; 
	-moz-box-sizing:border-box;
	-webkit-tap-highlight-color:transparent;
	padding:0;
}
.pageItem.hd/*, .pageItem img.hd*/  {
	-ms-transform:scale(.5);
    -ms-transform-origin:0 0 0;
    -webkit-transform:scale(.5);
    -webkit-transform-origin:0 0 0;
    transform:scale(.5);
    transform-origin:0 0 0;
}
@media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
    .pageItem { image-rendering: -webkit-optimize-contrast; }
}
@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) and (stroke-color:transparent) {
    .pageItem { image-rendering: optimizeSpeed; }
}}
@-moz-document url-prefix() {
  .pageItem { image-rendering: optimizeQuality; }
}
.svg-wrap { width:inherit !important; height:inherit !important; }
.pageItem p img { vertical-align:text-top; }
.pageItem p input, .pageItem p button {display:inline;}
.pageItem p .hidden, .details {visibility:hidden; }
.pageItem.group[data-ani] { will-change: transform; }
#colorbox .details { visibility:visible; }
.details {max-width:550px;font-size:18px;font-family:sans-serif;padding:0 24px;line-height:150%;left:0;right:0;margin:auto;}
.details p {margin-top:.5em;}
.details h1,.details h2,.details h3,.details h4,.details h5, .details strong {font-weight:bold;margin:.7em 0;}
.details em { font-style:italic; }
.details h1{font-size:150%;} .details h2{font-size:140%;} .details h3{font-size:130%;}
.details a {color:#0099ff;text-decoration:underline}
.details a:hover {text-decoration:none;}
@media (max-device-width:812px){ .details { font-size:32px; } }
html.ios .iframe-container { overflow:auto; -webkit-overflow-scrolling:touch; }
iframe[scrolling="auto"] { overflow:auto; }
iframe[scrolling="yes"] { overflow:scroll; }
iframe[scrolling="no"] { overflow:hidden; }
.page-scale-wrap { transform:translateZ(0); }
.page, .page-scale-wrap {
	position:relative; float:left; overflow:hidden;
}
.pages {
	list-style:none outside none;
	padding:0; margin:0 auto ;
}	
#container > .page { /*center single page baker*/
    position:absolute; bottom:0;
    left:0; right:0; top:0; margin:0 auto;
}
body:not(.zoomed,.responsive) #container/*, .page-scale-wrap*/ {/*desktop scaling transitions*/
	-webkit-transition:-webkit-transform .5s;
	transition:transform .5s;
}
html.multifile body #container { opacity:0; }
html.multifile body.loaded #container {/*do show scaling of multi-page*/
	opacity:1;
	-ms-transition:opacity .1s step-start .1s !important;
	-webkit-transition:opacity .1s step-start .1s !important;
	transition:opacity .1s step-start .1s !important;
}
html.multifile.fade body.loaded #container {
	-ms-transition:opacity .6s !important;
	-webkit-transition:opacity .6s !important;
	transition:opacity .6s !important;
}

.textColumn { float:left; }
.singleline p { line-height:1em !important; position:absolute;width:100%;/*fix webkit display issue*/ }
p.col-break-before::before {
	content:'';
    height:0px; width:100%;
    display:block; margin-bottom:100%;
}
.scroll, .scroll-vert, .scroll-horiz { -webkit-overflow-scrolling:touch; }/*was broken in iOS, turn off if scroll not working*/
.scroll { overflow:auto; }
.scroll-vert { overflow-y:auto; overflow-x:hidden; }
.scroll-horiz { overflow-x:auto; overflow-y:hidden; }
.scroll-vert::-webkit-scrollbar { -webkit-appearance:none; width:7px; } /*add back scrollbar for webkit*/
.scroll-vert::-webkit-scrollbar-thumb { border-radius:4px; background-color:rgba(0,0,0,.5); }
.hidescroll::-webkit-scrollbar { display:none; }
.hidescroll { -ms-overflow-style:none; overflow:-moz-scrollbars-none;/*old FF*/ }
.pulltab-left, .pulltab-left > * {
	-moz-transform:scaleX(-1);
    -webkit-transform:scaleX(-1);
    -o-transform:scaleX(-1);
    transform:scaleX(-1);
}
.pulltab-top, .pulltab-top > * {
	-moz-transform:scaleY(-1);
    -webkit-transform:scaleY(-1);
    -o-transform:scaleY(-1);
    transform:scaleY(-1);
}
object, embed, img, a { outline:0; }
.liquid svg, .liquid .page-scale-wrap { height:100%; width:100%; }
.noPlugin {
	width:100%; height:100%; padding:6px;
	background:#ccc; border:1px solid #666;
}

.paper-vertical, .paper-horizontal { padding:0 8px; }
.flip { 
	overflow:hidden; 
	-webkit-transition:transform 0.3s ease-in-out;
	-ms-transition:transform 0.3s ease-in-out;
	transition:transform 0.3s ease-in-out;
}
.turn-page-wrapper{
	will-change:transform;
}
.turn-page {
	-moz-box-shadow:0px 0px 20px rgba(0,0,0,.7);
	-webkit-box-shadow:0px 0px 20px rgba(0,0,0,.7);
    box-shadow:0px 0px 20px rgba(0,0,0,.7);
}
.turn-page:not(.activePage) .pageItem[data-ani] { /*fix 2x animation*/
  	opacity:0;
  	animation:none !important;
}
.paper-horizontal {
	position:absolute; overflow-y:visible; overflow-x:hidden;
	margin-top:auto; margin-bottom:auto;
    top:0; bottom:0;
}

.paper-vertical .page, .paper-horizontal .page {
	border:1px solid #bbb;	
	margin:4px 4px 4px 0;
	-moz-box-shadow:0px 0px 0px #999;
	-webkit-box-shadow:0px 0px 5px #999;
	box-shadow:0px 0px 5px #999;
}

html[data-dir="rtl"] .paper-horizontal .page { float:right; }

.one-page-scroll .page {
	border:none;
	margin:0;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
}

.mejs-mediaelement { overflow:hidden; }
.mejs-container{position:relative;background:none;}
.mejs-none .mejs-overlay-loading, .mejs-none .mejs-overlay-button, .mejs-none .mejs-controls, .mejs-bigplay .mejs-controls {display:none !important;}
.mejs-uncon video { object-fit:fill; }
.mejs-coverfit video { object-fit:cover; }
.mejs-ccsize-large .mejs-captions-layer {font-size:20px;}
.mejs-ccsize-xlarge .mejs-captions-layer {font-size:26px;}
.mejs-video .mejs-controls { transform:translateZ(0); }

.mejs-no-controls { display:none; }
.vid-scaled .mejs-layers, .vid-scaled .mejs-controls {
	-webkit-transform:translateZ(0);
	transform:translateZ(0);
}

.liquid .page, .page.liquid {
	position:absolute; width:100%; height:100%;
	overflow:hidden; display:none;
}

.page.liquid { /*for multi-file*/
    display:block;
}
.liquid .page.activePage {display:block; }
.liquid video {width:100%; height:100%; }
.liquid .slideshow img { object-fit:contain; }

.in5-highlight {
	background:rgba(255,255,0,.6);
	mix-blend-mode:multiply;
	pointer-events:none;
	animation-name:in5-highlight-in,in5-highlight-in;
	animation-direction:normal,reverse;
	animation-delay:3s,3s;
	animation-duration:.5s,1s;
	animation-iteration-count:1,1;
}
@keyframes in5-highlight-in{ from{ opacity:0 } to { opacity: 1} }
.hidden { display:none !important; }
.skip-link-wrap { z-index: 1; position: fixed; }
[data-reader-only="1"]{
	transform: translateY(-100vh) !important;
	z-index:-1;
}
[data-reader-only="1"]:focus, [data-reader-only="1"]:active {
	transform: translateY(0%) !important;
	z-index:1;
}
.mso, .group, .mso > .state { pointer-events:none; }
.mso > .state * { pointer-events: inherit; }
.mso > .state.active * { pointer-events:auto; }
[data-tapstart="1"], [data-useswipe="1"], .group > * { pointer-events:auto; }
.mso > .state { display:block; opacity:0; width:100% !important; height:inherit !important; position:absolute; z-index:-1; }
.liquid .mso > .state { height:100% !important; }
.liquid label > .state {
    width:100% !important;
    height:100% !important;
}
.mso > .state.active, .mso > .state.transition { display:block; opacity:1; z-index:0; }
.mso.slideshow.seq, .panzoom, .fauxgroup { overflow:hidden; }
.panzoom { cursor:move; cursor:-moz-grab; cursor:-webkit-grab; }
.panzoom > .content {
	-ms-transform:none;
    -ms-transform-origin:auto;
    -webkit-transform:none;
    -webkit-transform-origin:auto;
    transform:none;
    transform-origin:auto;
}
.panzoom:not(.dragging) > .content {
	transition:all .3s;
}

button .state {width:100% !important; height:100% !important;}
button .state.btn-on, button .state.btn-down { display:none; }
html:not(.ios) button.has-on:hover .state.btn-on { display:block; }
html:not(.ios) button.has-on:hover .state.btn-off, html:not(.ios) button.has-on:hover .state.btn-down { display:none; }
html:not(.zz) button.has-down .state { pointer-events:none; }
html:not(.zz) button.has-down:active .state.btn-down { display:block; }
html:not(.zz) button.has-down:active .state.btn-off, html:not(.zz) button.has-down:active .state.btn-on { display:none; }

.align-vert { display:table; }
[class^="valign"] {
	position:relative;
	display:table-cell;
	vertical-align:middle;
	columns:inherit;
}
.valign-bottom { vertical-align:bottom; }
[class^="valign"] > p { position:relative; }

.flex-image, .fill-image { background-repeat:no-repeat; }
.flex-image { background-size:contain; background-position:center; }
.fill-image { background-size:cover; }

/*tabs*/
p.tabs, p.tabs > a { 
	display:-webkit-box;
	display:-moz-box;
	display:-ms-flexbox;
	display:-webkit-flex;
	display:flex;
	flex-wrap:wrap;
}
p.tabs > a {
	width:100%;
	width:-moz-available;
	width:-webkit-fill-available;
}
p.tabs span.tabbed-right { 
	-ms-flex-grow:1; 
	-webkit-flex-grow:1; 
	flex-grow:1; 
	text-align:right; 
}
p.tabs span.tabbed-center { 
	-ms-flex-grow:50; 
	-webkit-flex-grow:50; 
	flex-grow:50; 
	text-align:center; 
}
span.tabbed-standard { text-indent:2ex;padding-left:2ex; }
p.no-start-indent { text-indent:0px !important; }

/*anchor object styles*/
.ao-noTextWrap { position:absolute; }
.ao-alignLeft, .ao-leftFullWidth { float:left; position:relative; }
.ao-alignRight, .ao-rightFullWidth { float:right; transform-origin:90% 50%; -webkit-transform:90% 50%; /*fix for anchored animation*/ }
.ao-alignCenter {display:block; margin-left:auto; margin-right:auto;}
.ao-inlineTable { display:block; }
.ao-leftFullWidth { padding-right:100%; }
.ao-rightFullWidth { padding-left:100%; }
.anchorGroup { position:relative; };
div.ao-alignLeft:before, div.ao-leftFullWidth:before { content:''; float:left; display:none; }
div.ao-alignRight:before, div.ao-leftFullRight:before { content:''; float:right; display:none; }
.anchorGroup > .mso, .anchorGroup > .group { position:relative; }

ul.thumbs {
	padding:20px; white-space:nowrap; width:1px;
}

ul.thumbs li { /*Baker index thumbnails*/
    display:inline; list-style-type:none;
    margin:0 4px; outline:none;
    vertical-align:top;
}
ul.thumbs > li img { box-shadow:0 0 4px rgba(0, 0, 0, 0.5); }
.baker audio[controls] {min-width:400px;} /*fix progress bar*/

@media print { 
	#container,.page-scale-wrap{transform:none !important;}
	[class*=" btn-form-"]{display:none;}
}

:-ms-fullscreen .paper-horizontal { width:auto;height:auto;position:initial;margin:auto; }
:-moz-full-screen .paper-horizontal { width:auto;height:auto;position:initial;margin:auto; }
:-webkit-full-screen .paper-horizontal { width:auto;height:auto;position:initial;margin:auto; }

:-ms-fullscreen .paper-vertical .page { display:none; }
:-moz-full-screen .paper-vertical .page { display:none; }
:-webkit-full-screen .paper-vertical .page { display:none; }

:-ms-fullscreen .paper-horizontal .page { display:none; }
:-moz-full-screen .paper-horizontal .page { display:none; }
:-webkit-full-screen .paper-horizontal .page { display:none; }

:-ms-fullscreen .page.activePage { display:block; }
:-moz-full-screen .page.activePage { display:block; }
:-webkit-full-screen .page.activePage { display:block; }

:-webkit-full-screen .hideFS { display:none; }
:-ms-fullscreen .hideFS { display:none; }
:-moz-full-screen .hideFS { display:none; }

/*CSS Generated from InDesign Styles*/

body, #container-wrap { background:#ededed; }
:-webkit-full-screen { background:#ededed; }
#loadIndicator span:after { padding-left:1ex; content:'loading content...'; }
.page-scale-wrap { width:595px; height:842px; background: #fff !important; }
.paper-vertical { width:595px; height:100%; }
.paper-horizontal { width:2421px; height:854px; }
nav#page-nav { display:none; }
html.nav-transition nav#page-nav { opacity:.3; pointer-events:none; }
nav#page-nav > button {
	display:block; position:fixed;
	left:0;
	top:50%;
	width:68px;
	height:68px;
	margin:-34px 0 0 0; /*.5 height*/
	text-align:center;
	outline:0;
	background:url(../images/arrows-slider.svg) no-repeat;
	opacity:.7;
	will-change:transform;
}	
nav#page-nav > button:hover { opacity:1; }
nav#page-nav > #backBtn { left:0; }
html[data-dir="rtl"] nav#page-nav > #backBtn, html:not([data-dir="rtl"]) nav#page-nav > #nextBtn { 
	left:auto;
	right:0; 
	-ms-transform:scaleX(-1);
	-moz-transform:scaleX(-1);
	-webkit-transform:scaleX(-1);
	transform:scaleX(-1);
}
@media all and (max-height:842px) {
	.paper-horizontal { margin:0;top:0;}
	#container > .page { margin:0 auto;}/*pos top for webkit+baker*/
}
@media all and (max-width:595px) {
	.paper-vertical .page, .paper-horizontal .page, .anythingSlider-in5 { padding:0;top:0;border:0; }
	.paper-vertical, .paper-horizontal { padding:0; }
}
#share-wrap {
    left:0;
    position:fixed;
    top: 25%;
    background-color: rgba(0,0,0,.65);
    box-shadow: 2px 2px 6px 0 rgba(0,0,0,.4);
    z-index:9999;
    -webkit-animation:share-fadein 1s ease 2s;
    animation:share-fadein 1s ease 2s;
}
#share-wrap.align-right { right:0; left:auto; }
#share-wrap.align-bottom {left:auto; right:20px; bottom:0; top:auto; padding-bottom:12px; }
#share-wrap.align-top {left:auto; right:40px; top:0; padding-top:8px; }
#share-wrap > a > span { display: none; }
#share-wrap > a {
	display:block;
	width:30px;
	height:30px;
	border-radius:50%;
	background:url(../images/sharebtns.png) no-repeat;
	background-size: 392px 30px;
	-webkit-background-size: 392px 30px;
	-moz-background-size: 392px 30px;
	margin:12px;
	padding:3px;
}
#share-wrap.align-top > a, #share-wrap.align-bottom > a { display:inline-block; }
#share-wrap > a#sb-fb { background-color:#3b5998; background-position:-27px 50%; }
#share-wrap > a#sb-tw { background-color:#000; background-position: -265px 50%; }
#share-wrap > a#sb-li { background-color:#007fb1; background-position: -116px 50%; }
#share-wrap > a:hover { box-shadow: 0 0 6px 2px rgba(255, 255, 255, 0.5); }
@keyframes share-fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes share-fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
#viewer-options-wrap {
	position:fixed;bottom:0;left:0;width:100%;padding:4px;
	font-family:'Gill Sans','Arial Narrow',Helvetica,Arial,sans-serif;
	transform:translateZ(0);
	transition:transform .5s;
}
#viewer-options-bar{
	position:absolute;bottom:0;left:0;width:100%;
	background-color:#000; color:#fff; fill:#fff;
	height:40px; display:table;
}
#viewer-options-bar.light { color:#000; fill:#000; }
#viewer-options-wrap.no-options #viewer-options-bar {display:none;}
#viewer-options-bar > span { display:table-cell; vertical-align:middle; cursor:default;}
#viewer-logo { display:inline-block; margin-right:14px;}
#viewer-logo img, #viewer-logo object {
	height:36px;
    vertical-align:middle;
    padding:2px 4px;
}
#viewer-title{ padding-left:6px; white-space:nowrap; }
#viewer-pagecount{ text-align:center; width:100%; }
#viewer-options { text-align:right; min-width:340px; }
.viewer-option-btn { cursor:pointer;display:inline-block;margin-right:24px;width:24px;padding:0;}
.viewer-option-btn > svg { position:relative; }
::-webkit-scrollbar #viewer-thumb-wrap {
    width:0px;  background:transparent;
}
#viewer-thumb-wrap {
    position:fixed; bottom:-50px; padding-bottom:46px;
    left:0; right:0; margin:auto;
    overflow-y:hidden; overflow-x:auto;
    background-color:rgba(255,255,255,.7);
    -webkit-overflow-scrolling:touch;
    scroll-behavior: smooth;
}
#viewer-options-thumb-images { margin-bottom:30px; padding-left:24px}
.viewer-page-thumb {
    display:table-cell;
    cursor:pointer;
    padding:24px 0;
	pointer-events:auto;
	-ms-transform:scale(.9); -webkit-transform:scale(.9); transform:scale(.9);
	-webkit-transition:transform .4s; transition:transform .4s;
}
.viewer-page-thumb:hover {
	-ms-transform:scale(1); -webkit-transform:scale(1); transform:scale(1);
}
.viewer-page-thumb > img { box-shadow:0 0 24px rgba(0,0,0,.5); }
.viewer-page-thumb.active > img { outline:2px solid #ff9900; }
.dragging, .dragging * { cursor:move !important; }
.dragging, .dragging * { cursor:move !important; }
#viewer_progress_bar {width:0;left:0;height:6px;position:fixed;bottom:40px;background:#ff9900;}
#viewer-options-wrap.no-options #viewer_progress_bar {bottom:0;}
@media all and (-ms-high-contrast:none), (-ms-high-contrast:active) {
     .viewer-option-btn{height:40px} /*IE10/11 fix*/
}
#viewer-options-bar #view-toggle {
    position:absolute;
    right:8px;
    bottom:120px;
    display:block;
    width:70px;
    height:50px;
    border-radius:12px 12px 0 0;
    cursor:pointer;
    display:none;
}
#viewer-options-bar #view-toggle svg {
    position:absolute;
    left:0;right:0;top:0;bottom:0;
    margin:auto;
}
html[data-dir="rtl"] #viewer-thumb-wrap { direction:rtl; }
@media all and (-ms-high-contrast:none), (-ms-high-contrast:active) {
     .viewer-option-btn{height:40px} /*IE10/11 fix*/
}

@media all and (max-width:780px) {
	#viewer-thumb-wrap { bottom:-20px; }
	#viewer-options-wrap.collapsed {
		-ms-transform:translateY(120px);
		-webkit-transform:translateY(120px) translateZ(0);
		transform:translateY(120px) translateZ(0);
		transition:transform .5s;
	}
	#viewer-options-wrap.collapsed #view-toggle svg {
		-ms-transform:rotate(180deg);
		-webkit-transform:rotate(180deg);
		transform:rotate(180deg);
	}
	#viewer-options-wrap.collapsed #viewer-options-thumb-images { display:none; }
	#viewer-options-bar #view-toggle { display:block; }
	#viewer_progress_bar {bottom:120px;}
	#viewer-options-bar{height:120px;display:block;}
	#viewer-pagecount{right:24px;width:auto;}
	#viewer-options-bar > span{display:inline-block;position:absolute;padding-top:14px}
	#viewer-options{display:table;table-layout:fixed;width:98%;bottom:12px;}
	.viewer-option-btn{display:table-cell;height:auto;min-width:44px;max-width:50px;padding:12px;width:2%;position:relative;}
	.viewer-option-btn > svg {max-width:50px;position:absolute;left:0;right:0;bottom:10px;margin:auto;}
	.viewer-option-btn:first-child{padding-left:6px;}
	.viewer-option-btn:last-child{padding-right:18px;}
	#viewer-options-thumb-images{margin-bottom:90px;}
	body:not(.responsive) .viewer-page-thumb > img {max-width:175px;}
}

@font-face {
	font-family:FF-MinionPro-Regular;
	src:url("../fonts/MinionPro-Regular.otf");
}

@font-face {
	font-family:FF-CircularStd-BookItalic;
	src:url("../fonts/CircularStd-BookItalic.otf");
	font-style:italic;
}

@font-face {
	font-family:FF-CircularStd-Book;
	src:url("../fonts/CircularStd-Book.otf");
}

@font-face {
	font-family:FF-CircularStd-Medium;
	src:url("../fonts/CircularStd-Medium.otf");
}

@font-face {
	font-family:FF-WulkanDisplay-Black;
	src:url("../fonts/WulkanDisplay-Black.otf");
}

#item141841 {
	width:452px !important;
	height:56px !important;
	border-radius:48px;
	background:#cad7d6;
	border:solid 1.5px #144542;
	-ms-transform:scale(.5);
	-webkit-transform:scale(.5);
	transform:scale(.5);
	-ms-transform-origin:0 0 0;
	-webkit-transform-origin:0 0 0;
	transform-origin:0 0 0;
}

#item141837 {
	width:452px !important;
	height:56px !important;
	border-radius:48px;
	background:#fff;
	border:solid 1.5px #144542;
	-ms-transform:scale(.5);
	-webkit-transform:scale(.5);
	transform:scale(.5);
	-ms-transform-origin:0 0 0;
	-webkit-transform-origin:0 0 0;
	transform-origin:0 0 0;
}

#item141833 {
	width:226px !important;
	height:28px !important;
	left:185px !important;
	top:33px !important;
}

#item72054 {
	width:310px !important;
	height:172px !important;
	left:143px !important;
	top:175px !important;
}

#item72077 {
	width:507px !important;
	height:101px !important;
	left:44px !important;
	top:119px !important;
}

#item89259 {
	width:312px !important;
	height:131px !important;
	left:249px !important;
	top:666px !important;
}

#item138473 {
	width:53px !important;
	height:46px !important;
	left:45px !important;
	top:711px !important;
}

#item138496 {
	width:127px !important;
	height:21px !important;
	left:67px !important;
	top:775px !important;
}

#item138519 {
	width:130px !important;
	height:20px !important;
	left:66px !important;
	top:666px !important;
}

#item138551 {
	width:82px !important;
	height:52px !important;
	left:119px !important;
	top:711px !important;
}

#item142108 {
	width:115px !important;
	height:7px !important;
	left:446px !important;
	top:813px !important;
}

#item145765 {
	width:83px !important;
	height:11px !important;
	left:256px !important;
	top:35px !important;
}

#item151162 {
	width:297px !important;
	height:57px !important;
	top:5px !important;
	background:#3b6966;
}

#item151163 {
	width:296px !important;
	height:57px !important;
	left:4px !important;
	background:#fff;
}

#item151164 {
	width:278px !important;
	height:29px !important;
	left:18px !important;
	top:11px !important;
}

#item151044 {
	width:297px !important;
	height:57px !important;
	top:5px !important;
	background:#9bb2b1;
}

#item151046 {
	width:296px !important;
	height:57px !important;
	left:4px !important;
	background:#fff;
}

#item151047 {
	width:278px !important;
	height:29px !important;
	left:18px !important;
	top:11px !important;
}

#item151131 {
	width:301px !important;
	height:62px !important;
}

#item151188 {
	width:297px !important;
	height:73px !important;
	top:6px !important;
	background:#3b6966;
}

#item151189 {
	width:296px !important;
	height:73px !important;
	left:4px !important;
	background:#fff;
}

#item151190 {
	width:278px !important;
	height:46px !important;
	left:18px !important;
	top:11px !important;
}

#item151134 {
	width:297px !important;
	height:73px !important;
	top:6px !important;
	background:#9bb2b1;
}

#item151135 {
	width:296px !important;
	height:73px !important;
	left:4px !important;
	background:#fff;
}

#item151136 {
	width:278px !important;
	height:46px !important;
	left:18px !important;
	top:11px !important;
}

#item151132 {
	width:301px !important;
	height:79px !important;
	top:79px !important;
}

#item324 {
	width:120px !important;
	height:7px !important;
	left:34px !important;
	top:813px !important;
}

#item112759 {
	width:286px !important;
	height:48px !important;
	left:34px !important;
	top:253px !important;
}

#item113228 {
	width:107px !important;
	height:30px !important;
	left:51px !important;
	top:418px !important;
}

@keyframes fonduenentrée-157567 {
	0% {opacity:0;}
	100% {opacity:1;}
}
@-webkit-keyframes fonduenentrée-157567 {
	0% {opacity:0;}
	100% {opacity:1;}
}
#item157567 {
	transform-origin:49.992% 49.989%;
	-webkit-transform-origin:49.992% 49.989%;
}

#item113251 {
	width:173px !important;
	height:64px !important;
	top:7px !important;
}

#item113279 {
	width:134px !important;
	height:21px !important;
	top:73px !important;
}

#item113375 {
	width:107px !important;
	height:10px !important;
	left:447px !important;
	top:718px !important;
}

#item113422 {
	width:194px !important;
	height:52px !important;
	left:382px !important;
	top:549px !important;
}

#item113445 {
	width:194px !important;
	height:52px !important;
	left:382px !important;
	top:662px !important;
}

#item130036 {
	width:696px !important;
	height:290px !important;
	left:34px !important;
	top:317px !important;
	border:solid 1px #144542;
	-ms-transform:scale(.5);
	-webkit-transform:scale(.5);
	transform:scale(.5);
	-ms-transform-origin:0 0 0;
	-webkit-transform-origin:0 0 0;
	transform-origin:0 0 0;
}

#item138597 {
	width:125px !important;
	height:23px !important;
	left:429px !important;
	top:609px !important;
}

#item138620 {
	width:142px !important;
	height:29px !important;
	left:424px !important;
	top:503px !important;
}

#item138908 {
	width:122px !important;
	height:13px !important;
	left:34px !important;
	top:34px !important;
}

#item146419 {
	width:440px !important;
	height:130px !important;
	left:34px !important;
	top:57px !important;
}

@keyframes entréerapideparlagauche-146419 {
	0% {
		transform:translate(-184.252px,0px);
		opacity:0;
	}
	100% {
		transform:translate(0px,0px);
		opacity:1;
	}
}
@-webkit-keyframes entréerapideparlagauche-146419 {
	0% {
		-webkit-transform:translate(-184.252px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate(0px,0px);
		opacity:1;
	}
}
#item150683 {
	width:338px !important;
	height:185px !important;
	left:22px !important;
	top:488px !important;
}

#item150684 {
	width:323px !important;
	height:324px !important;
	left:12px !important;
	top:12px !important;
}

@keyframes déplacementversladroite-150820 {
	0% {
		transform:translate(0px,0px);
		opacity:0;
	}
	100% {
		transform:translate(0px,7.748px);
		opacity:1;
	}
}
@-webkit-keyframes déplacementversladroite-150820 {
	0% {
		-webkit-transform:translate(0px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate(0px,7.748px);
		opacity:1;
	}
}
#item159242 {
	width:13px !important;
	height:13px !important;
	left:200px !important;
	top:33px !important;
	border:solid 1px #fff;
}

#item159235 {
	width:13px !important;
	height:13px !important;
	left:200px !important;
	top:33px !important;
	border:solid 1px #fff;
}

#item159237 {
	width:212px !important;
	height:46px !important;
	left:34px !important;
	top:711px !important;
}

#item153550 {
	opacity:0.65;
	width:595px !important;
	height:842px !important;
	left:3px !important;
	top:3px !important;
	background:#fff;
}

#item153547 {
	width:601px !important;
	height:848px !important;
	left:21px !important;
	top:10px !important;
}

#item153551 {
	width:575px !important;
	height:822px !important;
	left:34px !important;
	top:23px !important;
	border-radius:20px;
	background:#fff;
}

#item153555 {
	width:19px !important;
	height:19px !important;
	left:3px !important;
	top:3px !important;
}

#item153552 {
	width:25px !important;
	height:25px !important;
	left:567px !important;
	top:40px !important;
}

#item153558 {
	width:535px !important;
	height:742px !important;
	left:54px !important;
	top:83px !important;
}

#item153559 {
	width:230px !important;
	height:25px !important;
	left:58px !important;
	top:88px !important;
}

#item153592 {
	width:452px !important;
	height:56px !important;
	border-radius:48px;
	background:#cad7d6;
	border:solid 1.5px #144542;
	-ms-transform:scale(.5);
	-webkit-transform:scale(.5);
	transform:scale(.5);
	-ms-transform-origin:0 0 0;
	-webkit-transform-origin:0 0 0;
	transform-origin:0 0 0;
}

#item153587 {
	width:452px !important;
	height:56px !important;
	border-radius:48px;
	background:#fff;
	border:solid 1.5px #144542;
	-ms-transform:scale(.5);
	-webkit-transform:scale(.5);
	transform:scale(.5);
	-ms-transform-origin:0 0 0;
	-webkit-transform-origin:0 0 0;
	transform-origin:0 0 0;
}

#item153582 {
	width:232px !important;
	height:34px !important;
	left:55px !important;
	top:779px !important;
}

#item153545 {
	width:10px !important;
	height:10px !important;
	left:24px !important;
	top:13px !important;
}

#item153543 {
	width:622px !important;
	height:858px !important;
	left:-24px !important;
	top:-13px !important;
}

#item346 {
	width:115px !important;
	height:7px !important;
	left:446px !important;
	top:813px !important;
}

#item120604 {
	width:341px !important;
	height:59px !important;
	left:34px !important;
	top:500px !important;
}

#item128585 {
	width:129px !important;
	height:45px !important;
	left:430px !important;
	top:567px !important;
}

#item146197 {
	width:384px !important;
	height:56px !important;
	border-radius:48px;
	background:#ffeee2;
	border:solid 1.5px #ffbb8d;
	-ms-transform:scale(.5);
	-webkit-transform:scale(.5);
	transform:scale(.5);
	-ms-transform-origin:0 0 0;
	-webkit-transform-origin:0 0 0;
	transform-origin:0 0 0;
}

#item128623 {
	width:384px !important;
	height:56px !important;
	border-radius:48px;
	background:#fff8f3;
	border:solid 1.5px #ffbb8d;
	-ms-transform:scale(.5);
	-webkit-transform:scale(.5);
	transform:scale(.5);
	-ms-transform-origin:0 0 0;
	-webkit-transform-origin:0 0 0;
	transform-origin:0 0 0;
}

#item146194 {
	width:192px !important;
	height:28px !important;
	left:34px !important;
	top:403px !important;
}

#item129486 {
	width:354px !important;
	height:48px !important;
	left:34px !important;
	top:34px !important;
}

#item129555 {
	width:115px !important;
	height:52px !important;
	left:27px !important;
	top:200px !important;
}

#item129578 {
	width:82px !important;
	height:52px !important;
	left:44px !important;
	top:334px !important;
}

#item129602 {
	width:115px !important;
	height:52px !important;
	left:27px !important;
	top:246px !important;
}

#item129694 {
	width:148px !important;
	height:40px !important;
	left:11px !important;
	top:145px !important;
}

#item129718 {
	width:148px !important;
	height:40px !important;
	left:11px !important;
	top:286px !important;
}

#item129776 {
	width:156px !important;
	height:40px !important;
	left:160px !important;
	top:268px !important;
}

#item129801 {
	width:174px !important;
	height:54px !important;
	left:34px !important;
	top:80px !important;
}

#item129824 {
	width:168px !important;
	height:44px !important;
	left:339px !important;
	top:130px !important;
}

#item138752 {
	width:106px !important;
	height:52px !important;
	left:324px !important;
	top:249px !important;
}

#item138775 {
	width:110px !important;
	height:52px !important;
	left:445px !important;
	top:298px !important;
}

#item138798 {
	width:125px !important;
	height:52px !important;
	left:411px !important;
	top:369px !important;
}

#item138821 {
	width:148px !important;
	height:40px !important;
	left:296px !important;
	top:207px !important;
}

#item138844 {
	width:148px !important;
	height:40px !important;
	left:418px !important;
	top:255px !important;
}

#item150674 {
	width:22px !important;
	height:14px !important;
	left:430px !important;
	top:601px !important;
}

#item150709 {
	width:361px !important;
	height:231px !important;
	left:27px !important;
	top:565px !important;
}

#item150711 {
	width:348px !important;
	height:685px !important;
	left:7px !important;
	top:6px !important;
}

@keyframes déplacementversladroite-150760 {
	0% {
		transform:translate(0px,0px);
		opacity:0;
	}
	100% {
		transform:translate(0px,7.748px);
		opacity:1;
	}
}
@-webkit-keyframes déplacementversladroite-150760 {
	0% {
		-webkit-transform:translate(0px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate(0px,7.748px);
		opacity:1;
	}
}
#item157214 {
	width:174px !important;
	height:119px !important;
	background:#ffbb8d;
	padding:9px;
}

#item157212 {
	width:24px !important;
	height:15px !important;
	left:60px !important;
	top:17px !important;
}

#item157210 {
	width:174px !important;
	height:119px !important;
	left:151px !important;
	top:310px !important;
}

#item157239 {
	width:11px !important;
	height:11px !important;
	left:233px !important;
	top:295px !important;
}

#item150628 {
	opacity:0.65;
	width:595px !important;
	height:842px !important;
	left:3px !important;
	top:3px !important;
	background:#fff;
}

#item150625 {
	width:601px !important;
	height:848px !important;
	left:10px !important;
	top:10px !important;
}

#item150629 {
	width:716px !important;
	height:1012px !important;
	left:132px !important;
	top:181px !important;
	border-radius:20px;
	background:#fff;
	border:solid 1px #144542;
	-ms-transform:scale(.5);
	-webkit-transform:scale(.5);
	transform:scale(.5);
	-ms-transform-origin:0 0 0;
	-webkit-transform-origin:0 0 0;
	transform-origin:0 0 0;
}

#item150633 {
	width:21px !important;
	height:21px !important;
	left:3px !important;
	top:3px !important;
}

#item150630 {
	width:27px !important;
	height:27px !important;
	left:446px !important;
	top:198px !important;
}

#item150637 {
	width:303px !important;
	height:426px !important;
	left:152px !important;
	top:248px !important;
}

#item150623 {
	width:10px !important;
	height:10px !important;
	left:13px !important;
	top:13px !important;
}

#item150621 {
	width:611px !important;
	height:858px !important;
	left:-13px !important;
	top:-13px !important;
}

p.autoParaStyle15 {
	font-weight:900;
	font-family:FF-WulkanDisplay-Black,"Wulkan Display";
	font-size:31.7px;
	line-height:38px;
	color:#144542;
	margin-top:46px;
	text-align:center;
}

p.autoParaStyle14 {
	font-weight:900;
	font-family:FF-WulkanDisplay-Black,"Wulkan Display";
	font-size:41px;
	line-height:49.2px;
	color:#144542;
	margin-top:46px;
	text-align:center;
}

p.autoParaStyle13 {
	font-weight:500;
	font-family:FF-CircularStd-Medium,"Circular Std",sans-serif;
	font-size:12px;
	line-height:14.4px;
	color:#ffaf7a;
	margin-top:7px;
	text-align:left;
}

p.autoParaStyle12 {
	font-family:FF-CircularStd-Book,"Circular Std",sans-serif;
	font-size:9px;
	line-height:10.8px;
	color:#144542;
	margin-top:7px;
	text-align:right;
}

p.autoParaStyle11 {
	font-family:FF-CircularStd-Book,"Circular Std",sans-serif;
	font-size:14.5px;
	line-height:17px;
	color:#ffaf7a;
	margin-top:10px;
	text-align:left;
}

p.autoParaStyle10 {
	font-weight:900;
	font-family:FF-WulkanDisplay-Black,"Wulkan Display";
	font-size:41.5px;
	line-height:49.8px;
	color:#ffaf7a;
	margin-top:60px;
	text-align:center;
}

p.autoParaStyle9 {
	font-weight:500;
	font-family:FF-CircularStd-Medium,"Circular Std",sans-serif;
	font-size:10.5px;
	line-height:12.6px;
	color:#ffaf7a;
	margin-top:7px;
	text-align:left;
}

p.autoParaStyle8 {
	font-weight:900;
	font-family:FF-WulkanDisplay-Black,"Wulkan Display";
	font-size:50px;
	line-height:60px;
	color:#144542;
	margin-top:62px;
	text-align:center;
}

p.autoParaStyle7 {
	font-family:FF-CircularStd-Book,"Circular Std",sans-serif;
	font-size:9px;
	line-height:10.8px;
	color:#144542;
	margin-top:7px;
	text-align:left;
}

p.autoParaStyle6 {
	font-family:FF-CircularStd-Book,"Circular Std",sans-serif;
	font-size:9px;
	line-height:10.8px;
	color:#fff;
	margin-top:7px;
	text-align:right;
}

p.autoParaStyle5 {
	font-weight:900;
	font-family:FF-WulkanDisplay-Black,"Wulkan Display";
	font-size:43.5px;
	line-height:52.1px;
	color:#fff;
	margin-top:51px;
	text-align:center;
}

p.autoParaStyle4 {
	font-family:FF-CircularStd-Book,"Circular Std",sans-serif;
	font-size:13.5px;
	line-height:9.5px;
	color:#fff;
	font-variant:small-caps;
	margin-top:7px;
	text-align:center;
}

p.autoParaStyle3 {
	font-family:FF-CircularStd-Book,"Circular Std",sans-serif;
	font-size:10.5px;
	line-height:12.6px;
	color:#fff;
	margin-top:7px;
	text-align:center;
}

p.autoParaStyle2 {
	font-weight:900;
	font-family:FF-WulkanDisplay-Black,"Wulkan Display";
	font-size:57.9px;
	line-height:69.5px;
	color:#fff;
	margin-top:45px;
	text-align:center;
}

p.autoParaStyle1 {
	font-family:FF-CircularStd-Book,"Circular Std",sans-serif;
	font-size:40.8px;
	line-height:46.2px;
	color:#fff;
	text-align:center;
}

p.texte-12-sans-espace {
	font-family:FF-CircularStd-Book,"Circular Std",sans-serif;
	font-size:12px;
	line-height:14px;
	color:#144542;
	text-align:left;
}

p._12pts-sans-espace {
	font-weight:500;
	font-family:FF-CircularStd-Medium,"Circular Std",sans-serif;
	font-size:12px;
	line-height:14px;
	color:#9b78ef;
	letter-spacing:-0.010em;
	font-variant:small-caps;
	text-align:left;
}

p._10_5-CAPS {
	font-family:FF-CircularStd-Book,"Circular Std",sans-serif;
	font-size:10.5px;
	line-height:12.6px;
	color:#144542;
	text-transform:uppercase;
	margin-top:7px;
	text-align:left;
}

p._20-centre-souligne {
	font-family:FF-CircularStd-Book,"Circular Std",sans-serif;
	font-size:20px;
	line-height:24px;
	color:#fff;
	text-decoration:underline;
	margin-top:12px;
	text-align:center;
}

p.centre-10_5 {
	font-family:FF-CircularStd-Book,"Circular Std",sans-serif;
	font-size:10.5px;
	line-height:12.6px;
	color:#144542;
	margin-top:7px;
	text-align:center;
}

p._25pts-soulignes-blanc-book {
	font-family:FF-CircularStd-Book,"Circular Std",sans-serif;
	font-size:25px;
	line-height:30px;
	color:#fff;
	text-decoration:underline;
	margin-top:11px;
	text-align:left;
}

p.texte-sans-espace {
	font-family:FF-CircularStd-Book,"Circular Std",sans-serif;
	font-size:13.5px;
	line-height:16.2px;
	color:#144542;
	text-align:left;
}

p.centre-17pts {
	font-weight:500;
	font-family:FF-CircularStd-Medium,"Circular Std",sans-serif;
	font-size:17px;
	line-height:20.4px;
	color:#144542;
	letter-spacing:0.100em;
	font-variant:small-caps;
	margin-top:11px;
	text-align:center;
}

p.sous-titre-12pts {
	font-family:FF-CircularStd-Book,"Circular Std",sans-serif;
	font-size:12px;
	line-height:14.4px;
	color:#144542;
	margin-top:11px;
	text-align:left;
}

p.titres-schemas-12pt {
	font-family:FF-CircularStd-Book,"Circular Std",sans-serif;
	font-size:12px;
	line-height:14px;
	color:#144542;
	margin-top:10px;
	text-align:left;
}

p.texte-12pt {
	font-family:FF-CircularStd-Book,"Circular Std",sans-serif;
	font-size:12px;
	line-height:14px;
	color:#144542;
	margin-top:10px;
	text-align:left;
}

p.texte-indent {
	font-family:FF-CircularStd-Book,"Circular Std",sans-serif;
	font-size:13.5px;
	line-height:16.2px;
	color:#144542;
	text-indent:11px;
	text-align:left;
}

p.titres-schemas-10pt {
	font-family:FF-CircularStd-Book,"Circular Std",sans-serif;
	font-size:10.5px;
	line-height:12.6px;
	color:#144542;
	letter-spacing:0.100em;
	font-variant:small-caps;
	margin-top:10px;
	text-align:left;
}

p.nom-citation-9pt {
	font-family:FF-CircularStd-Book,"Circular Std",sans-serif;
	font-size:9px;
	line-height:10.8px;
	color:#144542;
	margin-top:9px;
	text-align:left;
}

p.liste {
	font-family:FF-CircularStd-Book,"Circular Std",sans-serif;
	font-size:13.5px;
	line-height:16.2px;
	color:#144542;
	margin-top:1px;
	text-align:left;
}

p.titres-schemas-14-5pt {
	font-family:FF-CircularStd-Book,"Circular Std",sans-serif;
	font-size:14.5px;
	line-height:17px;
	color:#144542;
	margin-top:10px;
	text-align:left;
}

p.sous-titre-17pts {
	font-weight:500;
	font-family:FF-CircularStd-Medium,"Circular Std",sans-serif;
	font-size:17px;
	line-height:20.4px;
	color:#144542;
	margin-top:11px;
	text-align:left;
}

p.notes {
	font-style:italic;
	font-weight:normal;
	font-family:FF-CircularStd-BookItalic,"Circular Std",sans-serif;
	font-size:9px;
	line-height:10.5px;
	color:#144542;
	text-align:left;
}

p.table {
	font-family:FF-CircularStd-Book,"Circular Std",sans-serif;
	font-size:13.5px;
	line-height:16.2px;
	color:#144542;
	padding-top:7.08661417322835px;
	border-top:solid 2.5px #9b78ef;
	text-align:left;
}

p.caption {
	font-family:FF-CircularStd-Book,"Circular Std",sans-serif;
	font-size:8px;
	line-height:9.6px;
	color:#144542;
	text-align:left;
}

p.citations {
	font-weight:900;
	font-family:FF-WulkanDisplay-Black,"Wulkan Display";
	font-size:13px;
	line-height:15.6px;
	color:#144542;
	margin-top:7px;
	text-align:left;
}

p.sous-titre {
	font-weight:900;
	font-family:FF-WulkanDisplay-Black,"Wulkan Display";
	font-size:30px;
	line-height:34px;
	color:#144542;
	margin-top:15px;
	text-align:left;
}

p.tetiere {
	font-family:FF-CircularStd-Book,"Circular Std",sans-serif;
	font-size:14px;
	line-height:16.8px;
	color:#144542;
	margin-top:7px;
	text-align:left;
}

p.texte-10_5 {
	font-family:FF-CircularStd-Book,"Circular Std",sans-serif;
	font-size:10.5px;
	line-height:12.6px;
	color:#144542;
	margin-top:7px;
	text-align:left;
}

p.texte- {
	font-family:FF-CircularStd-Book,"Circular Std",sans-serif;
	font-size:13.5px;
	line-height:16.2px;
	color:#144542;
	margin-top:7px;
	text-align:left;
}

p.Paragraphe-standard {
	font-family:FF-MinionPro-Regular,"Minion Pro","Times New Roman", Times, serif;
	font-size:12px;
	line-height:14.4px;
	color:#000;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:left;
}

p.Aucun-style {
	font-family:"Minion Pro","Times New Roman", Times, serif;
	font-size:12px;
	line-height:14.4px;
	color:#000;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:left;
}

span.autoCharStyle1 {
	font-weight:500;
	font-family:FF-CircularStd-Medium,"Circular Std",sans-serif;
	color:#ffaf7a;
}

span.CAPS {
	font-weight:500;
	letter-spacing:0.100em;
	text-transform:uppercase;
}

span.medium-approche-50 {
	font-weight:500;
	font-size:12px;
	letter-spacing:0.050em;
}

span.small-caps-blanc-centre {
	color:#fff;
	font-variant:small-caps;
}

span.small-caps-book-vert-1 {
	color:#3b6966;
	letter-spacing:0.100em;
	font-variant:small-caps;
}

span.small-caps-book {
	letter-spacing:0.100em;
	font-variant:small-caps;
}

span.small-caps {
	font-weight:500;
	letter-spacing:0.100em;
	font-variant:small-caps;
}

span.medium-rose {
	font-weight:500;
	color:#ffaf7a;
}

span.vert-1 {
	color:#3b6966;
}

span.blanc-medium {
	font-weight:500;
	color:#fff;
}

span.medium-vert-1 {
	font-weight:500;
	color:#3b6966;
}

span.blanc {
	color:#fff;
}

span.medium-violet {
	font-weight:500;
	color:#9b78ef;
}

span.violet {
	color:#9b78ef;
}

span.souligné {
	text-decoration:underline;
}

span.rose {
	color:#ffaf7a;
}

span.medium {
	font-weight:500;
}

span.book-italic {
	font-style:italic;
	font-weight:normal;
}

span.Sans {
}
#in5footer,  #prefooter {display:none;}

/*from resource-1.css*/
@media (max-width: 768px) {
    #share-wrap {
        display: none !important;
    }
}


